<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travel_world.travelmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/japan_go_help1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/japan_go_help2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".AddActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".Main0Activity">

        </activity>
        <activity android:name=".JapanWeb1Activity" />
        <activity android:name=".JtrafficActivity" />
        <activity android:name=".JinActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".MoneyActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>